/*Font-related*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.selectedColor::selection {
  background:rgba(231,105,105,0.7)
}

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*////////////////Mosttop Navigation, logo, login////////////////////*/
#loginNameMessage {
  margin-right: 0%;
}

.login {
  display: flex;
}

.title .white {
  color: rgb(255, 255, 255);
}

.userInput {
  padding: 0.4rem 0rem;
  font-size: 1.2rem;
  text-align: center;
  width: 8rem;
  border-radius: 8rem;
  margin-right: 0.4rem;
  background-color: #ffffff42;
  border: 1px solid rgb(129, 75, 75);
}

.userInput:focus {
  outline: none;
  border: 1px solid #ccc;
}

/*Placeholder*/
.userInput::placeholder {
  color: rgb(173, 111, 111);
}
.userInput:hover::placeholder {
  color: rgba(173, 111, 111, 0.274);
}
.userInput:focus::placeholder {
  color: transparent;
}

/*arrow*/
.loginButton {
  border: none;
  background: none;
  font-size: 2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.welcomeMessage {
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 15px;
}
.logo {
  height: 5.1rem;
}

#mosttopnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #805f5f42;
}

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*////////////////////////////Hr in navigation///////////////////////*/
#menuLine {
  padding: 0;
  margin: 0;
  size: 3px;
  height: 3px;
  background-color: #805f5f5b;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.377),
    rgba(0, 0, 0, 0)
  );
}
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*////////////////////////////Background picture/////////////////////*/
#backgroundPicture {
  padding: 0%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  background-attachment: fixed;
  background-position: center center;
  background-image: linear-gradient(to bottom, #f9e18183, #f7d96c2f),
    url(./images/general/myBackgroundForHomepage.jpg);
}
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/* main navigation under topmost */
nav ul {
  text-align: center;
  background-color: #805f5f5b;
}
#navMainer ul {
  text-transform: uppercase;
  /* margin: 0; */
  padding: 0;
  background-color: #d5824bf0;

}
#navMainer ul ul {
  position: absolute;
  width: 180px;
  text-transform: none;
}
#navMainer li {
  display: inline-block;
  position: relative;
  margin: 0 8px 0 33px;
  padding: 0;
}
#navMainer li li {
  width: 100%;
  margin: 0;
}
#navMainer li a {
  display: block;
  padding: 3px 0;
}

#navMainer li li a,
#navMainer li li .drop {
  display: block;
  margin: 0;
  padding: 12px 9px;
}
/*Hide it, but drop when I hover over it*/
#navMainer ul ul {
  visibility: hidden;
  opacity: 0;
}
#navMainer ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}
#navMainer li a {
  color: inherit;
}
#navMainer .active a,
#navMainer a:hover,
#navMainer li:hover > a {
  color: #ece4dc;
  background-color: inherit;
}
#navMainer li li a,
#navMainer .active li a {
  color: #ffd240;
  background-color: rgb(0, 0, 0);
  border-color: rgba(206, 166, 166, 0.6);
  border-radius: 15%;
}
#navMainer li li:hover > a {
  color: inherit;
  background-color: #dc8e47;
}

/*Basket icon*/
.myBasketButton {
  position: relative;
  cursor: pointer;
}
.spanBasketButton {
  font-size: 2rem;
}

/*Basket number span*/
.itemsToBasket {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: #cc7511;
  padding: 0 3px;
  border-radius: 35%;
  color: white;
  display: block;
}

/*Product categories*/
.filterbtn {
  font-family: "Montserrat";
  border: 0.2px solid black;
  background-color: #cc7511;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  line-height: normal;
}

.filterbtn:hover {
  background-color: #875215;
  color: #f3b977;
}

.footer-links{
  text-align: center;
}

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*////////////////////////////Title and Subtitle/////////////////////*/
#titlewebsite {
  font-size: 93px;
  font-style: oblique;
  margin-left: 10%;
}
#titleSub {
  font-size: 35px;
  font-style: oblique;
}
#dishTitle {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  color: #cc7511;
}
@keyframes fadeIn {
  4% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*////////////////////////////Carousel///////////////////////////////*/
.carousel-inner img {
  width: inherit;
  height: inherit;
}
#tradishionalSlider {
  width: 55%;
  display: block;
  margin: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 33px 33px 33px 33px;
  overflow: hidden; /*hide the extra corners*/
}

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*/////////////////////////PageAdvantages////////////////////////////*/
.websiteAdvantages {
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 68px;
  padding-bottom: 50px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;

}


.oneThirdLi {
  display: inline-block;
  list-style: none;
  margin-bottom: 70px;
  margin-top: 0px;
  text-align: center;
  width: 27.52631%;
  background-color: #c2a080b1;
  border-radius: 13px;
}

.faShieldAlt,
.faHeadset,
.faShippingFast {
  color: #cc7511;
  float: left;
}

.oneThirHeading {
  color: rgb(58, 39, 3);
}

.orangeAhref {
  color: #504339;}


.orangeAhref:hover{
  color: beige;
  text-decoration: none;
}

.orangeAhrefH4{
  font-size: 25px;
}

.buttonbox{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 100px; */
  margin-top: 35px;
}
.btnFilter{
  margin-right: 20px;
  width: 100px;
  color: rgb(233, 134, 28);
  border-radius: 100px;
  border: 1px solid black;
  background-color: rgb(255, 218, 178);
}

/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*/////////////////////////////Product Page//////////////////////////*/
.product-center-container {
  background-color: rgba(137, 43, 226, 0);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: 85px;
  margin-left: 85px;
  margin-top: 35px;
  margin-bottom: 35px;
}
/* Product inner part */
.product {
  background-color: rgba(226, 157, 67, 0.816);
  border-radius: 3rem;
  text-align: center;
  width: 300px;
  height: 500px;
  border: 3px solid rgb(172, 109, 15);
  margin: 13px;
}

.p_image {
  height: 280px;
  width: 220px;
  display: block;
  margin: auto;
}

.product .p_price,
.p_title,
.toBasket {
  text-align: center;
}

.product .p_title {
  padding-top: 12px;
}

.itemsToCart {
  display: contents;
}
.itemsToCart img {
  width: 175px;
}
.itemsToCart img:hover {
  width: 193px;
}

.product .p_price {
  color: rgb(158, 18, 18);
}
.product > .p_title {
  font-size: 20px;
  font-family: "Montserrat";
}

.btn-light{
  background-color: #cc7511;
  color:  #f0d3b2;
  border: none;
}
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/
/*////////////////////////////////Footer/////////////////////////////*/
.Tradishional-Footer {
  background-color: #24252b;
  /*top right bottom left*/
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 1.6;
  color: #c4c4c494;
}

.Tradishional-Footer hr {
  border-top-color: #f7d4b394;
  opacity: 0.8;
}

.Tradishional-Footer h6 {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 6px;
  letter-spacing: 2.6px;
}

.Tradishional-Footer a {
  color: #ee9e43;
}

.Tradishional-Footer a:hover {
  color: #fffffff8;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #f7d4b394;
}

.Tradishional-Footer .social-icons {
  text-align: right;
}

.Tradishional-Footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #f7d4b3a9;
}

.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}


.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
}

.social-icons a:hover {
  color: #fff;
}

.social-icons a.facebook:hover {
  background-color: #165aec;
}

.social-icons a.twitter:hover {
  background-color: #4ecffd;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.instagram:hover {
  background-color: #ea4c89;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&PRODUCT DETAILS HERE&&&&&&&&&&&&&&&&*/

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&PRODUCT CART HERE&&&&&&&&&&&&&&&&*/
.cartProducts-grid-container {
  font-family: Montserrat;
  display: grid;
  padding: 15px 100px 15px 100px;
}

.gridItem > div {
  height: 230px;
}
.gridItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  text-align: center;
}

.gridItem > .child-1 > img {
  vertical-align: middle;
  width: 130px;
  height: 180px;
}

.gridItem > .child-1 {
  vertical-align: middle;
  border-radius: 35px 0 0 35px;
  background-color: rgba(162, 145, 46, 0.809);
}

.gridItem > .child-2 {
  background-color: rgba(193, 171, 43, 0.809);
  border-radius: 0 35px 35px 0;
}

.gridItem > .child-2 > div {
  padding-top: 34px;
}

.gridItem > .child-2 > div > h1 {
  font-size: large;
  display: block;
}
.gridItem > .child-2 > div > h3,
.gridItem > .child-2 > div > h4 {
  font-size: medium;
}

.basketTotalContainer {
  background-color: #9dbb31e9;
  border-radius: 35px;
  margin-top: 10px;
}